$theme-color: #4A9EFA;
$theme-color2: #344052;
$button-color: #F58C38;
$purple: #5C73CD;
$red: #DF5B5B;
$orange: #E48641;
$yellow: #F2DC49;
$green: #49A032;
$bg-color: rgba(248,250,252,1);
$font-grey: rgba(131,131,131,1);

$header-height: 138px;
$header-marigin-top: 40px;

$box-shadow: 0 0 10px #ebebeb;
$dash-border: 1px dashed rgba(226,226,226,1);