@import "../../assets/scss/base";
@import "../../assets/css/que.css";
$box-shadow: 0 0 10px #ebebeb;
$dash-border: 1px dashed rgba(226,226,226,1);
.content80{
    .paper{
        & div, p{-webkit-user-select:text;}
        .paper-set{
            margin-right: 1em;
            margin-bottom: 0;
            background-color: #fff;
            border-radius:4px;
            box-shadow: $box-shadow;
            .paper-set-title{
                height: 3em;
                background-color: $theme-color2;
                color: #fff;
                text-align: center;
                line-height: 3em;
                margin-bottom: 0;
                border-radius:4px 4px 0 0;
            }
            .paper-type{
                padding: 1em;
                padding-bottom: 1em;
                border-bottom: $dash-border;
                border-left:1px solid rgba(211, 219, 231, 1);
                border-right:1px solid rgba(211, 219, 231, 1);
            }
            .paper-setting{
                padding: 1em;
                border-left:1px solid rgba(211, 219, 231, 1);
                border-right:1px solid rgba(211, 219, 231, 1);
                border-bottom:1px solid rgba(211, 219, 231, 1);
            }
        }
        .paper-btn{
            margin-right: 1em;
            margin-top: 1em;
            padding: 1em;
            background-color: #fff;
            text-align: center;
            border:2px solid rgba(172, 191, 221, 1);
            .to-work{
                margin-top: 1em;
                button{
                    background:rgba(245,140,56,1);
                    border-radius:.2em;
                    color: #fff;
                    padding: .4em 1em;
                    font-size: 1.2em;
                    -webkit-appearance: none;
                    outline: none;
                    transition: all .3s;
                    border: none;
                    box-shadow:0px 5px 10px 0px rgba(245,140,56,0.33);
                    opacity: .85;
                    &:focus{
                        border: none;
                    }
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
        .test{
            position: relative;
            background-color: #fff;
            border: 1px solid #dadada;
            min-height: 910px;
            .test-seal{
                width: 58px;
                height: 907px;
                position: absolute;
                left: 15px;
                top: 0;
                cursor: default;
                overflow: hidden;
                text-align: center;
            }
            .test-main{
                margin-left: 73px;
                padding: 0 15px;
                min-height: 910px;
                & div[contenteditable="true"] {
                    margin-bottom: 1px;
                    border: 1px solid transparent;
                    cursor: pointer;
                    word-break: break-all;
                }
                .test-head{
                    .test-mark{
                        color: #1092ed;
                        font-weight: bold;
                        padding-left: 20px;
                        line-height: 30px;
                        text-align: left;
                        margin-top: 8px;
                    }
                    .test-title{
                        text-align: center;
                        .test-maintitle{
                            font-size: 22px;
                            font-weight: bold;
                            line-height: 40px;
                            border-color: transparent;
                            display: block;
                            text-align: center;
                            width: 100%;
                            margin: 1px auto;
                            height: 40px;
                        }
                        .subtitle{
                            line-height: 30px;
                            font-size: 18px;
                        }
                        .test-testinfo{
                            text-align: center;
                            line-height: 48px;
                        }
                        .test-studentinfo{
                            position: static;
                            display: none;
                            text-align: center;
                        }
                        .test-score{
                            margin-top: 10px;
                            margin-bottom: 10px;
                            & > table{
                                margin: 0 auto;
                                border: initial;
                                border-color: #DCDCDC;
                                td{
                                    padding: .8em 1.2em;
                                }
                            }
                        }
                        .test-notice{
                            color: #999999;
                            text-align: left;
                            .test-noticetext{
                                & > p{
                                    margin-bottom: 0;
                                    text-indent: .5em;
                                }
                            }
                        }
                    }
                }
                .test-body{
                    margin-top: 20px;
                    .parthead {
                        .partname {
                            line-height: 46px;
                            font-size: 18px;
                            background-color: #ececec;
                            text-align: center;
                        }

                        .partnote {
                            color: #666666;
                            text-align: left;
                            line-height: 32px;
                        }
                    }
                    .partbody{
                        .questype{
                            padding: 10px 6px;
                            border: 1px solid transparent;
                            margin-top: 25px;
                            .questypehead{
                                margin-bottom: 20px;
                                position: relative;
                                table{
                                    width: 150px;
                                    border: initial;
                                    border-color: #DCDCDC;
                                }
                                .test-subjectnote{
                                    position: absolute;
                                    left: 160px;
                                    top: 14px;
                                    display: inline-block;
                                    max-width: 420px;
                                    min-width: 200px;
                                    font-weight: bold;
                                    padding-left: 20px;
                                    text-align: left;
                                }
                            }
                        }
                        .questype-body{
                            .list-box{
                                .quesborder{
                                    display: block;
                                    padding: 0 10px;
                                    line-height: 25px;
                                    letter-spacing: 1px;
                                    word-break: break-all;
                                    & > tbody{
                                        width: 100%;
                                        display: table;
                                    }
                                }
                                .quesfoot{
                                    height: 40px;
                                    line-height: 40px;
                                    border-top: 1px dashed #dadada;
                                    padding: 0 20px;
                                    color: #666666;
                                    opacity: 0;
                                    .quesfoot-left{
                                        float: left;
                                        i{
                                            color: $theme-color;
                                        }
                                    }
                                    .quesfoot-right{
                                        float: right;
                                        color: #838383;
                                        .ant-input-number{
                                            width: 4em;
                                            height: 30px;
                                            margin-right: .5em;
                                        }
                                        a{
                                            color: #838383;
                                        }
                                    }
                                }
                                & > li{
                                    //margin-bottom: 1em;
                                    border:1px solid transparent;
                                    transition: all .3s;
                                    &:hover{
                                        background:rgba(248,250,252,1);
                                        border:1px solid rgba(74,158,250,1);
                                        .quesfoot{
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

/**
打印去掉页脚页眉
 */
@page { margin: 0; }
//
//@media print {
//    section {page-break-before: always;}
//    h1 {page-break-after: always;}
//    p {page-break-inside: avoid;}
//}
//
//@media print {
//    p {orphans:3; widows:2;}
//}