@import "../../assets/scss/base";
@import "../../assets/css/que.css";
$box-shadow: 0 0 10px #ebebeb;
$dash-border: 1px dashed rgba(226,226,226,1);
.content80{
    .class-manage{
        background-color: #fff;
        padding: 1em 2.5em;
        box-shadow: $box-shadow;
    }
    .new-btn{
        color: inherit;
        height: 3em;
        line-height: 3em;
        padding: 0 1em;
        i{
            font-size: 1.8em;
            opacity: .7;
            vertical-align: middle;
            transition: all .3s;
        }
        &:hover i{
            opacity: 1;
            transform: scale(1.1) rotate(5deg);
        }
    }
    .my-class{
        position: relative;
        .my-class-list{
            li{
                margin-bottom: 1.2em;
                span{
                    display: inline-block;
                    line-height: 30px;
                    text-align: center;
                    padding: 0 20px;
                    border-top: 1px solid #b5b5b5;
                    border-bottom: 1px solid #b5b5b5;
                    position: relative;
                    transition: all .3s;
                    cursor: pointer;
                    //i{
                    //    color: $theme-color;
                    //    font-size: 14px;
                    //    opacity: 0;
                    //    padding-left: 10px;
                    //}
                    &:last-of-type{
                        border-right: 1px solid #b5b5b5;
                        border-top-right-radius: .3em;
                        border-bottom-right-radius: .3em;
                    }
                    &:after{
                        content: '';
                        width: 1px;
                        height: 1.6em;
                        position: absolute;
                        top: .2em;
                        right: 0;
                        background-color: #ccc;
                    }
                    &:first-of-type, &:last-of-type{
                        &:after{
                            width: 0;
                        }
                    }
                    &:hover{
                        background-color: #f5f5f5;
                        & > i{
                            opacity: 1;
                        }
                    }
                    &.active{
                        background-color: #f58c38;
                        color: #fff;
                        border-color: #f58c38;
                        &:hover{
                            background-color: #f58c38;
                        }
                    }
                }
                .my-class-name{
                    background-color: $theme-color;
                    color: #fff;
                    border-top: 1px solid $theme-color;
                    border-bottom: 1px solid $theme-color;
                    border-top-left-radius: .3em;
                    border-bottom-left-radius: .3em;
                    opacity: .9;
                    transition: all .3s;
                    &:hover{
                        opacity: 1;
                        background-color: $theme-color;
                    }
                }
                &:nth-of-type(even){
                    .my-class-name{
                        background-color: #91a9c6;
                        border-top: 1px solid #91a9c6;
                        border-bottom: 1px solid #91a9c6;
                        opacity: .9;
                        transition: all .3s;
                        &:hover{
                            opacity: 1;
                            background-color: #91a9c6;
                        }
                    }
                }
                i{
                    opacity: 0;
                    color: #666;
                    transition: all .3s;
                }
                &:hover{
                    i{
                        opacity: 1;
                    }
                }
            }
        }
        .new-class{
            position: absolute;
        }
        .new-class{
            position: absolute;
            right: 1em;
            top: 0;
        }
    }
    .class-list{
        position: relative;
        .class-list-head{
            margin-bottom: 2em;
        }
        .class-list-edit{
            position: absolute;
            right: 1em;
            top: 0;
        }
    }
}