@import "../../assets/scss/base";
@import "../../assets/css/que.css";

.content{
    width: 90%;
    height: 100%;
    //max-width: 1200px;
    margin:  20px auto;
    position: relative;
    //background-color: red;
    bottom: 0;
    .point-div{
        width: 15%;
        position: absolute;
        left: 0;
        top: 0;
    }
    .container{
        min-height: 300px;
        width: 85%;
        margin-left: 15%;
        //position: absolute;
        //left: 15%;
    }
    .qus{
        width: calc(70% - 20px);
        height: 100%;
        //float: left;
        .qus-type{
            background-color: #fff;
            box-shadow: $box-shadow;
        }
        .qus-content{
            margin-top: 1.3em;
            padding: 1.4em;
            background-color: #fff;
            min-height: 496px;
            box-shadow: $box-shadow;
            .qus-card{
                background-color: $bg-color;
                border: 1px solid rgba(226,226,226,1);
                margin-bottom: 1em;
                transition: all .3s;
                .qus-card-header{
                    padding: 1.5em 0;
                    border-bottom: $dash-border;
                    & > span{
                        color: #838383;
                        padding: 0 1.4em;
                    }
                }
                .qus-card-content{
                    padding: 14px;
                    border-bottom: $dash-border;
                }
                .qus-card-footer{
                    padding: 1em 1.4em;
                    a{
                        height: 1em;
                        color:rgba(51,51,51,1);
                        &:hover{
                            color: $theme-color;
                        }
                    }
                    button{
                        float: right;
                        margin-top: -0.6em;
                    }
                }
                &:hover{
                    box-shadow: 0 0 10px #95d6f3;
                    border-color: #76b1f1;
                }
                &.selected{
                    background-color: #fff6e0;
                    border: 1px solid #ffaf1d;
                    .qus-card-header, .qus-card-content{
                        border-bottom-color: #ffaf1d;
                    }
                    &:hover{
                        box-shadow: 0 0 10px #ecc469;
                        border-color: #ffaf1d;
                    }
                }
            }
        }
    }
    .choose{
        position: absolute;
        right: 0;
        top: 0;
        //margin-left: 70%;
        width: 400px;
        .choose-main{
            padding: 20px;
            min-height: 300px;
            background-color: #fff;
            box-shadow: $box-shadow;
            border:4px solid #fff;
            box-sizing: border-box;
            overflow: hidden;
        }
        .choose-header{
            position: relative;
            border-radius:2px;
            .choose-num{
                width: 60px;
                height: 110px;
                line-height: 110px;
                background: #586ec0;
                border-radius: 60px;
                font-size: 40px;
                font-weight: 900;
                color: #f9f9fb;
                text-align: center;
                margin-bottom: 10px;
                user-select: none;
            }
            .choose-type{
                position: absolute;
                top: 0;
                left: 70px;
                padding-top: 2.1em;
                min-height: 6.3em;
                border-bottom: 2px solid #acbfdd;
                border-bottom: 2px solid rgba(172,191,221,1);
                li{
                    color: #999;
                    font-size: 14px;
                    display: inline-block;
                    white-space: nowrap;
                    padding: 0 15px 15px 15px;
                    & > span{
                        display: inline-block;
                        width: 22px;
                        height: 22px;
                        text-align: center;
                        line-height: 22px;
                        color: #fff;
                        background-color: $green;
                        border-radius: 50%;
                        margin-right: 4px;
                    }
                    &:nth-of-type(2) > span{
                        background-color: $theme-color;
                    }
                    &:nth-of-type(3) > span{
                        background-color: $yellow;
                    }
                    &:nth-of-type(4) > span{
                        background-color: $orange
                    }
                    &:nth-of-type(5) > span{
                        background-color: $red;
                    }
                }
            }
        }
        .choose-content{
            min-height: 100px;
            position: relative;
            .choose-title{
                position: absolute;
                top: 0;
                width: 100%;
                height: 40px;
                line-height: 40px;
                background:rgba(235,235,242,1);
                color:rgba(79,79,79,1);
                padding-left: 20px;
                z-index: 1;
            }
            .choose-content-list{
                min-height: 200px;
                padding: 42px 10px 10px 10px;
                overflow-y: auto;
                border: $dash-border;
                border-top: none;
                z-index: 0;
                margin-bottom: 1em;
                li{
                    width: 100%;
                    //height: 7.5em;
                    overflow: hidden;
                    position: relative;
                    margin-bottom: .2em;
                    border-bottom: $dash-border;
                    padding: .5em;
                    &:last-of-type{
                        border-bottom: none;
                    }
                    .question-show{
                        width: calc(100% - 3em);
                        //height: 4.8em;
                        //overflow: hidden;
                    }
                    .choose-time{
                        color: #B8B8B8;
                        margin: .5rem 0;
                    }
                    .delete{
                        position: absolute;
                        right: 0;
                        top: 0;
                        display: flex;
                        align-items: center;
                        width: 2.2em;
                        padding-left: .9rem;
                        height: calc(100% - 0.2rem);
                        background-color: #F2F3F5;
                        color: #DF5B5B;
                        border: 1px solid #eee;
                        box-sizing: border-box;
                        text-align: center;
                        line-height: 4.8em;
                        font-size: 1.6em;
                        transition: all .5s;
                        opacity: .9;
                        &:hover{
                            opacity: 1;
                            & > i{
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
        }
        .choose-footer{
            padding: 7px 0;
            transition: all .3s;
            .choose-footer-type{
                margin-bottom: 10px;
                & >span {
                    //padding-right: 1.5em;
                    display: inline-block;
                    width: 33%;
                    font-size: 14px;
                    height: 24px;
                    line-height: 24px;
                    font-weight: bold;
                    span {
                        font-size: 18px;
                        color: $green;
                    }
                }
            }
            .difficult{
                position: relative;
                font-size: 1.2em;
                color: $orange;
                margin-bottom: 10px;
                .difficult-rate{
                    position: absolute;
                    right: 0;
                    top: -.4em;
                }
            }
            .paper-btn{
                text-align: center;
                margin-bottom: 10px;
                button{
                    background: #2f9bff;
                    border-radius: 14px;
                    color: #fff;
                    font-size: 18px;
                    padding: 8px 28px;
                    transition: all .3s;
                    opacity: .8;
                    border: none;
                    outline: none;
                    &:hover{
                        opacity: 1;
                        box-shadow: 0 3px 6px 0 rgba(47, 155, 255, 0.33);
                    }
                }
            }
        }
    }
}
.small-button{
    position: fixed;
    top: 200px;
    right: 5%;
    width: 50px;
    height: 30%;
    min-height: 300px;
    background: #586ec0;
    color: #fbd661;
    font-size: 24px;
    line-height: 28px;
    border: 2px solid #586ec0;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;
    //writing-mode: vertical-lr;/*从左向右 从右向左是 writing-mode: vertical-rl;*/
    //writing-mode: tb-lr; /*IE*/
    & > span{
        writing-mode: initial;
        display: block;
        width: 46px;
        font-size: 28px;
        height: 46px;
        line-height: 46px;
        margin-top: 10px;
        color: #586ec0;
        background-color: #fbd661;
        border-radius: 50%;

    }
    & > p{
        margin-top: 50px;
    }
    & > p > i{
        padding-top: 10px;
    }
    &:hover{
        //opacity: 1;
        & > p > i{
            transform: scale(1.2);
        }
    }
}

.v-resize{
    height: 100%;
    width: 6px;
    position: absolute;
    //background: green;
    right: 30%;
    top: 0;
    z-index: 2;
    cursor: w-resize;
    user-select: none;
    margin-bottom: 30px;
}

@media screen and (max-width: 1000px){
    .content {
        .qus {
            width: 100%;
        }
    }
}